* {
  margin: 0;
  color: #0b0c10;
}
.header-content {
  background-color: initial;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.logo {
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  padding: 2%;
}
.name-site {
  font-size: x-large;
  align-self: center;
  background-color: cornflowerblue;
}
.logo-nameSite {
  background-color: cornflowerblue;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2vh;
}
.menu-links-nav {
  background-color: cornflowerblue;
  padding-top: 2vh;
  padding-bottom: 2vh;
  width: 100%;
}
.links-content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.flex-box {
  display: flex;
  flex-direction: column;
  margin-top: 2vh;
  margin-bottom: 2vh;
  gap: 2vh;
  align-items: center;
}

.flex-item-1 {
  order: 2;
}
.flex-item-2 {
  order: 1;
}

.flex-item-3 {
  order: 3;
}

.row-neChet {
  background-color: #7751a7;
}
.row-Chet {
  background-color: #9e2057;
}
caption {
  background-color: #da5757;
}
.content-block {
  background-color: cornflowerblue;
  padding-top: 2vh;
  padding-bottom: 2vh;

  align-content: center;
  width: 100%;
}

.footer {
  width: 100%;
  background-color: cornflowerblue;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 640px) {
  .header-content {
    background-color: cornflowerblue;
    width: 100%;
    flex-direction: row;
  }
  .name-site {
    font-size: x-large;
    align-self: flex-end;
  }
  .logo-nameSite {
    width: 70%;

    display: flex;
    justify-content: flex-start;
    margin-bottom: 1vh;
  }

  .links-content {
    flex-direction: row;
    justify-content: end;
    gap: 10px;
    padding-right: 2vw;
  }

  .content-block {
    background-color: cornflowerblue;
    padding: 2%;
    width: 70%;
  }
  .flex-item-1 {
    order: 1;
  }
  .flex-item-2 {
    order: 2;
  }
  .flex-item-3 {
    order: 3;
  }
}
