* {
  margin: 0;
  color: #0b0c10;
}
.container {
  margin: 0;
  padding: 0;
}

.header-content {
  display: flex;
  flex-direction: column;
}
.logo {
  display: inline-block;

  overflow: hidden;
}
.name-site {
  font-size: x-large;
  align-self: center;
  background-color: cornflowerblue;
}
.logo-nameSite {
  background-color: cornflowerblue;

  display: flex;
  justify-content: space-evenly;
}
.menu-links-nav {
  background-color: cornflowerblue;
}
.links-content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.flex-item-1 {
  order: 2;
}
.flex-item-2 {
  order: 1;
}

.flex-item-3 {
  order: 3;
}

.row-neChet {
  background-color: #7751a7;
}
.row-Chet {
  background-color: #9e2057;
}
caption {
  background-color: #da5757;
}
.content-block {
  background-color: cornflowerblue;
}

.footer {
  background-color: cornflowerblue;
  display: flex;
}
@media screen and (min-width: 639px) {
  .header-content {
    background-color: cornflowerblue;
  }
  .name-site {
    font-size: x-large;
    align-self: flex-end;
  }
  .logo-nameSite {
    display: flex;
    justify-content: flex-start;
  }

  .links-content {
    flex-direction: row;
    justify-content: end;
  }

  .content-block {
    background-color: cornflowerblue;
  }
  .flex-item-1 {
    order: 1;
  }
  .flex-item-2 {
    order: 2;
  }
  .flex-item-3 {
    order: 3;
  }
}
